<div class="back" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/ecommerceart-fb0d5.appspot.com/o/background.jpg?alt=media&token=947bd73d-7bdf-448c-882b-b9890c4d3950'); background-size: cover; display: flex; justify-content: center; align-items: center; height: 100vh; width: 100vw;">
    <div class="form" style="background-color: rgba(133, 138, 201, 0.8); padding: 20px; border-radius: 8px; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; width: 250px;">
        <form action="/api/sessions/newPassword" method="post">
            <label for="password" style="display: block; margin-bottom: 8px;">Ingresa tu nueva contraseña:</label>
            <input type="password" name="password" style="width: 80%; padding: 8px; border: 1px solid #ccc; border-radius: 4px; margin-bottom: 12px;">
            <label for="passwordConfirmation" style="display: block; margin-bottom: 8px;">Confirma tu nueva contraseña:</label>
            <input type="password" name="passwordConfirmation" style="width: 80%; padding: 8px; border: 1px solid #ccc; border-radius: 4px; margin-bottom: 12px;">
            <input type="hidden" name="token" value="{{token}}">
            <input type="hidden" name="email" value="{{email}}">
            <button type="submit" style="background-color: rgba(78, 81, 119, 0.8); color: white; border: none; padding: 10px 20px; border-radius: 4px; cursor: pointer;">Enviar</button>
        </form>
    </div>
</div>



